@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Final.Models.User>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_AdminDashBaord.cshtml";
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "Adduser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().Role)
        </th>
        <th>
            
        </th>
        <th>
            <label>Actions</label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("UserList", new { page, search = Request.QueryString["search"], sort = Request.QueryString["sort"] }))