@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Final.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminDashBaord.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Order_Date)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.First().amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().User.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Date)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))